!!!
%html
  %head
    %title Jaime Sanchez
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Prelang: Analytics / Google Analytics
    = analytics_init if Rails.env.production? or Rails.env.development?

  %body
    = bootstrap_flash
    = yield
